

body{
    overflow-x:hidden;
    overflow-y:scroll;
    
    
    background-color:#000000;
    
    background-image: url(http://tristyn.me/more/images/gears.svg), url(http://tristyn.me/more/images/gears180.svg);
    background-position: left, right;
    background-attachment: fixed;
    
    }
.page{						/*	Page	*/
	height:100%; width: 8.7in;
	text-align:center;
	margin: 0 auto 0 auto;
	background-color: #ffffff;
	overflow: hidden;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
	}