/* Background */
body{overflow:hidden;
    background-color:#333333;
    background-image: url(http://tristyn.me/more/images/gears.svg), url(http://tristyn.me/more/images/gears180.svg);
    background-position: left, right;
    background-attachment: fixed, fixed;
    background-repeat: repeat-y, repeat-y;
    }

    
/* My iFrame */
iframe{				/*	Child Container, Hides Scrollbar	*/
	height:100%; width:63em;
    display:block;
    margin: 0 auto 0 auto;
    background-color: #ffffff;
	border-left:2px solid #000000;
	border-right:2px solid #000000;
	}


canvas.particles-js{
    position:  absolute;
    display:  block;
    top: 0;
    left: 0;
    z-index: 0; 
    }

#tristyn{
	font-size:0.8em;
	position:absolute;
	left: 0.5em;	bottom: 0.5em;
	}
#tristyn a{color:#666666;}
#tristyn a:hover{background-color:rgba(0,0,200,0.03);	text-shadow: 0 0 0px #9999ff;}
