#NameBox{
	position:absolute; top:30%; right:50%; bottom:0; left:50%; transform:translateX(-50%);
	}
#NameBox a{
	color:#888888;
	}
#NameBox #links{
	padding-left: 0.15em;
	font-size:0.8em;
	text-align:center;
  vertical-align:top;
	}

#NameBox img{width:9em; height:9em; margin-right:0.8em;}

#NameBox .Title{
  font-size:2.5em;font-weight:bold;
  text-align:center;vertical-align:bottom; 
  height:1.5em;
  }

#NameBox .SubTitle{
  text-align:center;vertical-align:top;
  font-size:1em;
  color: #888888;
  
  height:1em;width: 18em;
  padding:0.25em;padding-left:0.5em; 
  margin-bottom: 0.1em;
  
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  }
