#p1 h1{font-size:2em;font-weight:bold;text-align:center;}

#p1 ul{overflow-x: hidden;}
#p1 li .page_content{float:left;  background: white; padding-right:1em;}
#p1 li a.page_number{float:right; background: white; display: block; width: 3em; text-align: center; }
#p1 ul li .dots:after{
    float: left;
    width: 0;
    white-space: nowrap;
    content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
    }
